.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(255, 255, 255, 0.92);

  backdrop-filter: blur(14px);

  border-bottom: 1px solid #ececec;

}

.header__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;


  height: var(--header-height);
}

.header__logo {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 800;
}

.header__logo img {
  display: block;
  height: 60px;
  width: auto;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.2rem;
  margin: 0;
  padding: 0;
  font-size: .75rem;
}

.nav_list a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color .25s;
}

.nav_list a.active {
  color: var(--secondary);
}

.nav_list a:hover {

  color: var(--hover)
}

.nav_list a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--secondary);
  transition: .25s;

}

.nav_list a:hover::after {
  width: 100%;
}

.nav_list li:last-child {
  border: 1px solid var(--primary-dark);
  padding: 0.25rem .75rem;
  border-radius: 16px;
}

.nav_list li:last-child:hover {
  background: var(--primary-dark);
}


.nav_list li:last-child a {
  color: var(--primary-dark)
}

.nav_list li:last-child a:hover {
  color: #fff;
}

.nav_list li:last-child a::after {
  display: none;
}



.menu_toggle {
  border: none;
  background: none;
  display: none;
  cursor: pointer;
}


/* HERO */
.hero {
  width: 100%;
  /* eje vertical */
  min-height: calc(100vh - var(--header-height));
  display: flex;



  background: #4CA1AF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C4E0E5, #4CA1AF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hero_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
}

.hero_eyebrow {
  display: inline-block;
  color: var(--primary);
  font-weight: 700;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: .9rem;
}

.hero_title {
  font-size: clamp(2, 5rem, 5vw, 4.3rem);
  line-height: 1.1;
  font-weight: 800;
  color: var(--text-color);
}

.hero_description {
  font-size: 0.83rem;
  color: var(--text-color-m);
  max-width: 620px;
  margin-bottom: 2.5rem;
}

.hero_btn {
  border: 1px solid var(--secondary);
  padding: 0.75rem 1.5rem;
  color: var(--secondary);
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 500;
}

.hero_btn:hover {
  text-decoration: none;
  box-shadow: 1px -1px 0px rgba(0, 0, 0, .2);
}

/* Stats */
.stats {
  padding: 0;
  background: #fff;
}

.stats__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}

.stat {
  padding: 2rem;
}

.stat__number {
  font-size: clamp(2.2rem, 6vw, 3.6rem);
  color: var(--primary);
  font-weight: 800;

  line-height: 1;
  margin-bottom: .75rem;
}

.stat__label {
  color: var(--text-color-light);
  font-size: 1rem;
  font-weight: 500;
}

/* Brands */
.brand-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 4rem;

  border-radius: 24px;
  background: #fff;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .06);

}

.brand-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-card__image img {
  width: 100%;
  border-radius: 18px;
}

.brand-card__subtitle {
  display: inline-block;
  color: var(--primary);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .08em;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

.brand-card__title {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

.brand-card__content {
  display: flex;
  flex-direction: column;
}

.brand-card__content p {
  color: var(--text-color-light);
  line-height: 1.8;
  font-size: 0.8rem;

  margin-bottom: 1.5rem
}

.brand-card__badges {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0
}

.brand-card__badges span {
  padding: .7rem 1.1rem;
  border-radius: 999px;
  background: #eef4ff;
  color: var(--primary);
  font-weight: 600;
  font-size: .7rem;
}

.brand-card .btn {
  margin-top: .5rem;

  max-width: 200px;
  align-self: flex-end;
}

/* ABOUT US */
.about-us__card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.about-us__content {
  max-width: 800px;
  margin-inline: auto;
  margin-bottom: 0rem;
}

.about-us__content p {
  font-size: .9rem;
  line-height: 1.9;
  color: var(--text-color-light);
  margin-bottom: 1.5rem;
}

.about-us__card {
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 18px;
  border: 1px solid #ececec;
  transition:
    transform .25s ease,
    box-shadow .25s ease,
    border-color .25s ease
}

.about-us__card h3 {
  font-size: .9rem;
}

.about-us__card p {
  font-size: 0.8rem;
}

.about-us__card:hover {
  transform: translateY(-6px);
  border-color: rgba(37, 99, 235, .2);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

/* Footer */
.footer {
  margin-top: 6rem;
  background: var(--secondary);
  color: #d1d5db;
  border-top: 4px solid var(--primary)
}

.footer__top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 3rem;
  padding: 4rem 0;
}

.footer__brand h3 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 1.15rem;
}

.footer__brand p {
  line-height: 1.8;
  max-width: 320px;
  font-size: .9rem;
}

.footer__column h4 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 0.92rem;
}

.footer__column ul {
  display: flex;
  flex-direction: column;
  gap: .9rem;
  font-size: 0.875rem;
}

.footer a {
  color: #d1d5db;
  text-decoration: none;
  transition: color .25s;
}

.footer a:hover {
  color: #fff;
}

.footer__bottom {
  font-size: 0.75rem
}

@media (max-width: 900px) {
  .brand-card {
    grid-template-columns: 1fr;
    gap: 3rem;
    text-align: center;
    padding: 2.5rem;
  }

  .brand-card__badges {
    justify-content: center;
  }

  /* Hero */

  .hero_container {
    grid-template-columns: 1fr;
  }

  /* About us */
  .about-us__card-container {
    grid-template-columns: 1fr;
  }

  /* Footer */
  .footer__top {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer__brand p {
    margin-inline: auto;
  }
}

@media (max-width: 768px) {
  .menu_toggle {
    display: block;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background: white;
    padding: 1.5rem 2rem;
    border-top: 1px solid var(--border-color);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 50;
  }

  .nav.nav--open {
    display: block
  }

  .nav.nav--open .nav_list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .stats__grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
