:root {
  /* Paleta de colores */
  --primary: #2563eb;
  --secondary: #1f2937;
  --primary-dark: #1d4ed8;
  --primary-hover: #1d4ed8;
  --text-color: #000000;
  --text-color-light: #555;
  --text-color-m: #222;
  --bg-color: #f8fafc;
  --surface-color: #ffffff;
  --border-color: #e2e8f0;

  /* Estados */
  --success: #16a34a;
  --error: #dc2626;

  /* Tipografía */
  --font-main: 'Manrope', system-ui, -apple-system, sans-serif;
  --font-size-base: 1.2rem;

  /* Bordes y sombras */
  --radius: 8px;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  /* Variables  */
  --header-height: 80px;
}

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* Suaviza fuentes en Mac/iOS */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 1rem;
  padding-right: 1rem; */
}



h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}


a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid transparent
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  padding: .65rem 1.2rem;
  border-radius: 12px;
  background-color: var(--secondary);
  color: #fff;
  font-size: .75rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color .25s ease,
    color .25s ease,
    border-color .25s ease,
    transform .25s ease,
    box-shadow .25s ease;

  box-shadow: 0 8px 24px rgba(37, 99, 235, .20);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(37, 99, 235, .28);
  text-decoration: none;
}

.section-title {
  font-size: 2.15rem;
}
