:root {
  /* Paleta de colores */
  --primary: #2563eb;
  --primary-hover: #1d4ed8;
  --text-color: #000000;
  --text-color-light: #555;
  --text-color-m: #222;
  --bg-color: #f8fafc;
  --surface-color: #ffffff;
  --border-color: #e2e8f0;

  /* Estados */
  --success: #16a34a;
  --error: #dc2626;

  /* Tipografía */
  --font-main: 'Manrope', system-ui, -apple-system, sans-serif;
  --font-size-base: 1.2rem;

  /* Bordes y sombras */
  --radius: 8px;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  /* Variables  */
  --header-height: 100px;
}

html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* Suaviza fuentes en Mac/iOS */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 1rem;
  padding-right: 1rem; */
}



h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}


a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  border: 1px solid var(--border-color)
}
