/* Pages */

/* catalog_card  */

.catalog {
  display: flex;
  flex-direction: column;


}

.chair-card {
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem
}

.chair-info {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.chair-info p {
  font-size: 0.875rem;
  color: var(--text-color-light);
}

.chair-highlights {
  font-size: 0.75rem;
}
